.layui-form-label {
    padding: 9px 5px;
    width:auto;
}

.geec-tab{
    margin:10px 25px;
}
.geec-add-form{
    margin:10px 20%;
}
.btn-center {
     width:200px;
     margin:0px auto;
 }
.btn-centers {
    width:250px;
    margin:0px auto;
}
